#OS junk files
[Tt]humbs.db
*.DS_Store
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.current
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
Output
/BOANET/InstallFiles/ThirdPartyControls
/WebPortal/NBOWP.Backend.Host/Modules/Common/**
/WebPortal/NBOWP.Backend.Host/Modules/Core/Scripts
/WebPortal/NBOWP.Backend.Host/Modules/Reports/Content
/WebPortal/NBOWP.Backend.Host/Modules/Reports/Scripts
/WebPortal/NBOWP.Frontend.Host/Modules/Common
/WebPortal/NBOWP.Frontend.Host/Modules/Reports
/WebPortal/NBOWP.Frontend.Host/Modules/Core/Scripts
# WebPortal/NBOWP.Backend.Host/
/WebPortal/NBOWP.Deployment/Deployment
/WebPortal/NBOWP.Deployment/NBOWS.Rewrite.dll
/WebPortal/NBOWP.Sql/Procedures/__procedures.sql
/MessageServer/MessageServer.Database.SQL/Updates



/WebPortal/Tests/Scenarios/
*.sample
BOANET/Common.Database.SQL/Procedures/WebServices/allsql.dump
*.upgrade
/MessageServer/MessageServer.Database.SQL/Debug.publish.xml
/MessageServer/MessageServer.Database.SQL/MessageServer.Database.SQL.sqlproj
/MessageServer/MessageServer.Database.SQL/Release.publish.xml
UpgradeLog*.htm
/BOANET/Common.Database.SQL/Procedures/WebServices/allsqldump.sql
/BOANET/Common.Database.SQL/Common.Database.SQL.dbmdl
/BOANET/Common.Database.SQL/Procedures/WebServices/allsql.dump.sql
/MessageServer/MessageServer.Database.SQL/MessageServer.Database.SQL.dbmdl
/TCBuildTools/BuildFiles/MSBuild/nbo.msbuild.userconfig
skip-localization
/MessageServer/MessageServer.WebService/log

Sc/
ScP/

_Resharper.Caches
.vs

orleans.codegen.cs
*.Tests.d.ts
*.Tests.js
*.Tests.js.map
ClientConfigurationForTesting.xml
OrleansConfigurationForTesting.xml
/TCBuildTools/BuildFiles/MSBuild/LicenseTool/conml.dat
/WebPortal/NBOWP.Backend.Host/Modules/Reports/Lib/pdfjs
/BOANET/Test.Common.BusinessRules.SharpDirectDataAccess/StoredProcedures.UnitTests/FlatSiteItemRecipes_Partial/*.expected.csv
/BOANET/Test.Common.BusinessRules.SharpDirectDataAccess/StoredProcedures.UnitTests/FlatSiteItemRecipes_Partial/*.current.csv
/BOANET/Test.Common.BusinessRules.SharpDirectDataAccess/StoredProcedures.UnitTests/FlatSiteItemRecipes_Rebuild/*.expected.csv
/BOANET/Test.Common.BusinessRules.SharpDirectDataAccess/StoredProcedures.UnitTests/FlatSiteItemRecipes_Rebuild/*.current.csv

*.jfm
